datacube
--extra-index-url="https://packages.dea.ga.gov.au"
odc-aio==0.1.dev888+g37fe5b7
odc-algo==0.1.dev888+g37fe5b7
odc-aws==0.1.dev888+g37fe5b7
odc-dscache==0.1.dev888+g37fe5b7
odc-dtools==0.1.dev888+g37fe5b7
odc-geom==0.1.dev888+g37fe5b7
odc-index==0.1.dev888+g37fe5b7
odc-io==0.1.dev888+g37fe5b7
odc-ppt==0.1.dev888+g37fe5b7
odc-stats==0.1.dev888+g37fe5b7
odc-ui==0.1.dev888+g37fe5b7
dask-ml==1.8.0
joblib==1.0.1
pytest==5.4.3
