--extra-index-url="https://packages.dea.ga.gov.au"
git+https://github.com/ubarsc/rios.git
git+https://github.com/digitalearthafrica/deafrica-sandbox-notebooks.git#subdirectory=Tools
datacube[performance,s3]==1.8.4.dev81+g80d466a2
dask_ml==1.9.0
click==8.0.1
morecantile==2.1.2
odc_stats
aiobotocore==1.3.1
pyyaml==5.4.1
botocore==1.20.49
s3transfer==0.3.7
boto3==1.17.49
GDAL==3.3.0
